{% load static %}
<header>
  <nav class="navbar  navbar-fixed-top navbar navbar-dark bg-dark">
    <a class="navbar-brand" >Galpón LUCERITO</a>
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle uarr collapsed" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="./index.html" title="" class="active">Inicio<span class="sr-only">(current)</span></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><p><a href="./inicio.html" class="btn btn-primary navbar-btn" title="">Salir</a></p></li>
          </ul>
        </div>
    </div>
  </nav>
</header>