{% load static %}
<!DOCTYPE html>
<html lang="es">

   <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestación 1</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="{% static 'home/static/css/main.a3f694c0.css' %}" rel="stylesheet"></head>
</head>
<body>
  {% include 'home/cabecera.html' %}

<div class="section-container border-section-container">
    <div class="container">
            <div class="row">
                <div class="col-md-12 section-container-spacer"> 
                    
                    <div class="col">
                      <div class="text-center">
                        <h2>Gestación 1</h2>
                    </div>
                    <section class="webdesigntuts-workshop">
                      <form action="" method="">        
                        <input type="search" placeholder="Buscar...">         
                        <button type="button" class="btn btn-info">Buscar</button>
                      </form>
                    </section>

                    <button type="button" class="btn btn-success pull-right">Agregar</button>
                    <button type="button" class="btn btn-primary pull-right">Modificar</button>
                    <button type="button" class="btn btn-warning pull-right">Eliminar</button>
                    <div class="table-responsive">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
          <th scope="col">#</th>
          <th>Código Chancho</th>
          <th>Código Corral</th>
          <th>Raza</th>
          <th>Tiempo de vida</th>
          <th>Tiempo de celo</th>
          <th>Periodo de gestación</th>
          <th>Nmro de partos</th>
          <th>Vacuna Colera</th>
          <th>Vacuna Parvo</th>
          <th>Vacuna Micoplamasma</th>
          <th>Vacuna Circuvirus</th>

          <th></th>
          
        </tr>

        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>122</td>
            <td>Saludable</td>
            <td>2</td>
            <td>12c</td>
            <td>122</td>
            <td>Saludable</td>
            <td>2</td>
            <td>12c</td>
            <td>122</td>
            <td>Saludable</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <th scope="row">2</th>
            <td>122</td>
            <td>Saludable</td>
            <td>2</td>
            <td>12c</td>
            <td>122</td>
            <td>Saludable</td>
            <td>2</td>
            <td>12c</td>
            <td>122</td>
            <td>Saludable</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <th scope="row">3</th>
            <td>122</td>
            <td>Saludable</td>
            <td>2</td>
            <td>12c</td>
            <td>122</td>
            <td>Saludable</td>
            <td>2</td>
            <td>12c</td>
            <td>122</td>
            <td>Saludable</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
</div>
   
   
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="ocultaesconde.js"></script>
</body>
</html>