{% extends 'home/index.html' %}
{% load static%}
{% block content %}
<header>
  <nav class="navbar  navbar-fixed-top navbar navbar-dark bg-dark">
    <a class="navbar-brand" >Galpón LUCERITO</a>
<div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle uarr collapsed" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="./index.html" title="" class="active">Inicio<span class="sr-only">(current)</span></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        	<li>
            <p>
              <a href="./inicio.html" class="btn btn-primary navbar-btn" title="">Salir</a>
            </p>
          </li>
          </ul>
      </div></div>
  </nav>
</header>


<div class="section-container border-section-container">
    <div class="container">
            <div class="row">
                <div class="col-md-12 section-container-spacer">
                    <div class="text-center">
                        <h2>Nuestros galpones</h2>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="text-center">
                        <a href="gestacion_1.html"><button type="button" class="btn btn-info">GESTACIÓN 1</button></a>
                    </div>
    
                    <div class="col">
                    <div class="text-center">
                                      <h2>Información</h2>
                                  </div>
                    <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                      <thead>
                        <tr>
                        <th scope="col">#</th>  
                        <th>Código de galpón</th>
                        <th>Estado</th>
                        <th>Total de animales</th>          
                      </tr>

                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>1</td>
                          <td>LLeno</td>
                          <td>3</td>
                        </tr>
                      </tbody>
                    </table>
                    </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-center">
                        <a href="gestacion_2.html"><button type="button" class="btn btn-info">GESTACIÓN 2</button></a>
                    </div>
                    <div class="col">
                    <div class="text-center">
                                      <h2>Información</h2>
                                  </div>
                    <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                      <thead>
                        <tr>
                        <th scope="col">#</th>  
                        <th>Código de galpón</th>
                        <th>Estado</th>
                        <th>Total de animales</th>          
                      </tr>

                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>1</td>
                          <td>LLeno</td>
                          <td>3</td>
                        </tr>
                      </tbody>
                    </table>
                    </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-center">
                        <a href="maternidad_1.html"><button type="button" class="btn btn-info">MATERNIDAD 1</button></a>
                    </div>
                   <div class="col">
                    <div class="text-center">
                                      <h2>Información</h2>
                                  </div>
                    <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                      <thead>
                        <tr>
                        <th scope="col">#</th>  
                        <th>Código de galpón</th>
                        <th>Estado</th>
                        <th>Total de animales</th>          
                      </tr>

                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>1</td>
                          <td>LLeno</td>
                          <td>3</td>
                        </tr>
                      </tbody>
                    </table>
                    </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-center">
                        <a href="maternidad_2.html"><button type="button" class="btn btn-info">MATERNIDAD 2</button></a>
                    </div>
                    <div class="col">
                    <div class="text-center">
                                      <h2>Información</h2>
                                  </div>
                    <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                      <thead>
                        <tr>
                        <th scope="col">#</th>  
                        <th>Código de galpón</th>
                        <th>Estado</th>
                        <th>Total de animales</th>          
                      </tr>

                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>1</td>
                          <td>LLeno</td>
                          <td>3</td>
                        </tr>
                      </tbody>
                    </table>
                    </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-center">
                        <a href="cuna.html"><button type="button" class="btn btn-info">CUNA</button></a>
                    </div>
                    <div class="col">
                    <div class="text-center">
                                      <h2>Información</h2>
                                  </div>
                    <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                      <thead>
                        <tr>
                        <th scope="col">#</th>  
                        <th>Código de galpón</th>
                        <th>Estado</th>
                        <th>Total de animales</th>          
                      </tr>

                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>1</td>
                          <td>LLeno</td>
                          <td>3</td>
                        </tr>
                      </tbody>
                    </table>
                    </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-center">
                        <a href="engorde_1.html"><button type="button" class="btn btn-info">ENGORDE 1</button></a>
                    </div>
                    <div class="col">
                    <div class="text-center">
                                      <h2>Información</h2>
                                  </div>
                    <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                      <thead>
                        <tr>
                        <th scope="col">#</th>  
                        <th>Código de galpón</th>
                        <th>Estado</th>
                        <th>Total de animales</th>          
                      </tr>

                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>1</td>
                          <td>LLeno</td>
                          <td>3</td>
                        </tr>
                      </tbody>
                    </table>
                    </div>
                    </div>
                </div>
      
            </div>
    </div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    navActivePage();
  });
</script>

<script type="text/javascript" src="./main.41beeca9.js"></script></body>

{% endblock %}